.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 1.8rem;
    color: var(--color-title);
}
.subtitle {
    font-size: 1rem;
    color: var(--color-subTitle);
}
.subtitle--wrapper {
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.forgot {
    font-size: 1rem;
    color: var(--color-action);
    cursor: pointer;
    align-self: center;

    &:hover {
        color: var(--color-action-dark);
    }
}

.socials {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    flex-direction: column;
}
