.back {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.img {
    object-fit: cover;
    transform: scaleX(-1) rotate(180deg);
    width: 600px;
    position: absolute;
    filter: opacity(0.5) contrast(8) grayscale(100%) opacity(0.6);
    right: -220px;
    top: -290px;
}

.img-wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    right: 0px;
    position: absolute;
}

.outlet {
    display: flex;
    flex-direction: column;
    margin-top: clamp(20px, 8vh, 80px);
    position: absolute;
    gap: clamp(20px, 3vh, 40px);
    width: clamp(200px, 86vw, 400px);
    height: calc(100vh - clamp(20px, 12vh, 150px));
}

.Micon {
    color: white;
    background-color: var(--color-grey-normal);
    border-radius: 50%;
    padding: clamp(1px, 4vw, 4px);
    font-size: clamp(18px, 8vw, 24px);

    cursor: pointer;

    &:hover {
        background-color: var(--color-grey-dark);
    }
}
