.title {
    font-size: clamp(1.4rem, 6.5vw, 1.7rem);
    color: var(--color-title);
}
.subtitle {
    font-size: clamp(0.8rem, 3.5vw, 1rem);
    color: var(--color-subTitle);

    .acc {
        margin-top: clamp(0.5rem, 2.5vw, 0.8rem);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle--wrapper {
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.forgot {
    font-size: clamp(0.8rem, 3.5vw, 1rem);
    color: var(--color-action);
    cursor: pointer;
    align-self: center;

    &:hover {
        color: var(--color-action-dark);
    }
}

.socials {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    flex-direction: column;
}
